@model WechatAD.Data.DomainModels.Advertisement
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="javascript:void(0);">广告管理</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->

<!-- 右侧内容 start -->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body pan">
                    <form id="amy-form" class="form-horizontal" method="post" action="/advertisement/save">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">广告类型：</label>
                                <div class="col-md-8">
                                    <input name="Id" value="@Model.Id" type="hidden" />
                                    <select name="Type" class="select2" style="width:100%" data-value="@Model.Type">
                                        <option value="图片">图片</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">广告名称：</label>
                                <div class="col-md-8">
                                    <input type="text" name="Title" value="@Model.Title" class="form-control required" placeholder="广告名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">展示图片</label>
                                <div class="col-md-8">
                                    <p><img id="preview" src="@(string.IsNullOrEmpty(Model.Material) ? "/Content/Mgr/images/gallery/data/img02.png" : Model.Material)" style="width:168px;height:126px;" /></p>
                                    <button type="button" class="btn btn-primary" onclick="upImage();">上传</button>
                                    <input id="picture" name="Material" type="hidden" value="@Model.Material" />
                                    <script type="text/plain" id="upload_ue">
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions pal">
                            <div class="form-group mbn">
                                <div class="col-md-offset-2 col-md-6">
                                    <a href="javascript:history.back(-1)" class="btn btn-default">返回</a>&nbsp;&nbsp;

                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 右侧内容 end -->

@section scripts{
    <script type="text/javascript">
        var _editor = UE.getEditor('upload_ue');
        _editor.ready(function () {
            //隐藏编辑器，因为不会用到这个编辑器实例，所以要隐藏
            _editor.hide();
            //侦听图片上传
            _editor.addListener('beforeInsertImage', function (t, arg) {
                //将地址赋值给相应的input,只去第一张图片的路径
                $("#picture").attr("value", arg[0].src);
                //图片预览
                $("#preview").attr("src", arg[0].src);
            })
        });
        //弹出图片上传的对话框
        function upImage() {
            var myImage = _editor.getDialog("insertimage");
            myImage.open();
        }

        $('#amy-form').myValidate(function (form) {
            $(form).ajaxSubmit({
                success: function (res) {
                    if (!res.Flag) {
                        amy.alert(res.Content[0][1]);
                    }
                    else {
                        location.href = '/advertisement/list';
                    }
                },
                error: function () {

                },
                dataType: "json"
            })
        });
    </script>
}

